<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BNBSym -{% block title %}Welcome!{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.scss">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {# <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script> #}

        {% block javascripts %}{% endblock %}

    </body>
</html>