{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur le meilleur reseau d'appartement{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur BNBsym</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaire qui veulent profiter d'oportunités et gagner de l'argent
            </p>
            <hr class="my-4">
            <p>Vous êtes voyageurs ? Et vous voulez voir ou vous pourrez loger pour votre prochain déplacement ?
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">
                    Voir nos annonces
                </a>
            </p>
        </div>
        <h2 class="h1 my-5">Nos appartements stars
        </h2>
        <div class="row mt-5">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {
                    'ad' : data.annonce
                } %}
            {% endfor %}
        </div>
        <h2 class="h1 my-5">Nos propriétaire stars</h2>

        <div class="row">
            {% for data in user %}
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{data.user.fullName}}</h4>
                            <hr>
                            <div class="card-text">
                                <img src="{{data.user.picture}}" alt="avatar" class="float-left mr-3">
                                {{data.user.introduction | raw}}
                                <a href="{{path('user',{'slug':data.user.slug})}}" class="btn btn-success float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}